---
title: "社区"
---

<% data.community.chapters.each do |chapter| %>
  <div class="community section">
    <%= render :markdown, "community/#{chapter}.md" %>
  </div>
<% end %>

<div class="community section">
  <h2>博客</h2>

  <p>这是一份经常写关于 Ember 文章的博客简表：</p>

  <ul class="blogs">
    <% data.blogs.each do |blog| %>
      <li>
        <%= link_to blog.name, blog.url %><br>
        <%= blog.description %>
      </li>
    <% end %>
  </ul>
</div>


<div class="community section">
  <h2>见面会</h2>

  <p>全世界有许多不同的 Ember 见面会。参加见面会是学习 Ember 和接触其它开发者的良好途径。</p>

  <table class="columns">
    <tr>
      <% data.meetups.each do |name, groups| %>
        <td>
          <h3><%= name %></h3>

          <ul>
            <% groups.each do |group| %>
              <li><%= link_to group.location, group.url %></li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
</div>
